
<!-- Footer -->
<footer class="page-footer font-small position-relative  pt-4 <%if(uid=="none"){%>profile_menu_continer<%}%>" id="main_footer">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-center">mymanga</h5>
          <p class="rtl f13 text-center">
            موقع mymanga عبارة عن مكتبة تفاعلية ضخمة يتيح لك مشاهدة المانجات والإطلاع على قصص الفن الآسيوي المترجمة إلى العربية ويوفر كذلك روابط تحميل مباشرة للفصول
 بالإضافة إلى نظام العرض المميز الذي يتيح لك القراءة بعدة طرق مختلفة بما يحتويه من مزايا كثيرة تسهل تجربة القراءة والموقع يسعى دائمًا إلى تحسين وتطوير المحتوى المترجم
من خلال مساهمتكم برفع وعرض الترجمات المختلفة
          </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto text-center px-4 rtl">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 f15">ثيمات</h5>

          <ul class="px-0">
            <li class="mb-2">
              <a href="#!" onclick="skin('light-blue-skin')">إفتراضي</a>
            </li class="mb-2">
            <li class="mb-2">
              <a href="#!" onclick="skin('cyan-skin')">سماوي</a>
            </li>
            <li class="mb-2">
              <a href="#!" onclick="skin('navy-blue-skin')">أزرق فاتح</a>
            </li>
            <li class="mb-2">
              <a href="#!" onclick="skin('mdb-skin')">أرجواني</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto text-center px-4 rtl">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 f15">عن الموقع</h5>

          <ul class="px-0">
            <li class="mb-2">
              <a href="/how_to_upload">طريقة الرفع</a>
            </li>
            <li class="mb-2">
              <a href="#!">عن الموقع</a>
            </li>
            <li class="mb-2">
              <a href="/terms">القوانين</a>
            </li>
            <li class="mb-2">
              <a href="/privacy">سياسة الخصوصية</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none d-sm-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto text-center px-4 rtl">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 f15">خارطة الموقع</h5>

          <ul class="px-0">
            <li  class="mb-2">
              <a href="/">الرئيسية</a>
            </li>
            <li class="mb-2">
              <a href="/news">الأخبار</a>
            </li>
            <li class="mb-2">
              <a href="/library">المكتبة</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="realase_trigger" data-toggle="modal" data-target="#realase_modal">الإضافات</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <%if(uid=="none"){%>


<hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">حساب جديد</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-danger btn-rounded profile_menu_trigger" id="signup_footer_button">تسجيل</a>
      </li>
    </ul>
    <!-- Call to action -->


    <%}%>
    

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
         <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"></i>
        </a>
      </li>     
         <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">All rights reserved to the translator
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->