<!DOCTYPE html>
<html lang="ar">

<head>
<title>الرئيسية</title>
<%- include styles %>
</head>


<body class="light-blue-skin">
<%- include header %>
<main class="content container-fluid mt-10 rtl text-right">
<div class="">
<div class="w_600 px-4 py-2" style="font-size:22px">إضافة فصل</div>
<ol>
<li>يستوجب عليك أن تكون مسجلًا في الموقع لتتمكن من إضافة (فصل أو سلسلة جديدة أو فريق) إلى الموقع</li>
<li>ستجد زر إضافة (فصل - سلسلة - فريق) في الشريط العلوي للموقع وهو الزر الثالث الذي يلي زر قائمة الرسائل</li>	
<li> سيفتح لك تبويب "فصل جديد"  وعندها سيتوجب عليك ملء البيانات الآتية:</li>
<li> اختيار السلسلة: فلتبحث على السلسلة التي تريد رفع فصل مترجم بها</li>
<li> رقم الفصل:  اكتب رقم الفصل الذي سترفعه في السلسلة</li>
<li> رقم المجلد: اكتب رقم المجلد الذي سترفع فيه الفصل</li>
<li> عنوان الفصل (اختياري يعود إليك): اكتب عنوان الفصل الذي تريد رفعه</li>
<li> اختيار الفريق: اكتب اسم الفريق الذي تريد أن تنسب ترجمة الفصل له </li>
<li> اختيار الفصل: قم برفع ملف الفصل مضغوط بصيغة zip </li>
<li>اضغط على زر "إضافة" وانتظر حتى يكمل شريط التحميل وسوف تتلقى إشعار حالما تنتهي من رفع الفصل </li>
</ol>

<div class="w_600 px-4 py-2" style="font-size:22px">إضافة سلسلة</div>
<ol>
<li>يستوجب عليك أن تكون مسجلًا في الموقع لتتمكن من إضافة (فصل أو سلسلة جديدة أو فريق) إلى الموقع</li>
<li>ستجد زر إضافة (فصل - سلسلة - فريق) في الشريط العلوي للموقع وهو الزر الثالث الذي يلي زر قائمة الرسائل</li>	
<li>اضغط على تبويب "سلسلة جديدة" وأكمل ملء البيانات الآتية</li>
<li>اسم السلسلة: اكتب اسم السلسلة التي تريد إضافتها</li>
<li>اسم السلسلة بالعربي: اكتب اسم السلسلة مترجم إلى العربية</li>
<li>أسماء أخرى للسلسلة: إذا كانت لديك اسماء مختلفة للسلسلة فلتكتبها</li>
<li>سنة الإصدار: اكتب السنة التي أصدرت فيها المانجا في اليابان</li>
<li>مؤلف السلسلة: اكتب اسم مؤلف</li>
<li>راسم السلسلة:  اكتب اسم راسم السلسلة (والذي غالبًا يكون المؤلف نفسه أو يختلف في بعض المانجات)</li>
<li>نوع السلسلة: قم باختيار نوع السلسلة التي تريد إضافتها من مانجا أو رواية</li>
<li>التصنيفات: قم بالتحديد على التصنيفات التي تخص السلسلة</li>
<li>اكتب وصف موجز للسلسلة أو نبذة مختصرة</li>
<li>قم باختيار ورفع صورة للسلسلة</li>
<li>اضغط زر "إضافة" وانتظر حتى نراجع طلبك ونقوم بالموافقة عليها </li>
</ol>

<div class="w_600 px-4 py-2" style="font-size:22px">إضافة فريق</div>
<ol>
<li>يستوجب عليك أن تكون مسجلًا في الموقع لتتمكن من إضافة (فصل أو سلسلة جديدة أو فريق) إلى الموقع</li>
<li>ستجد زر إضافة (فصل - سلسلة - فريق) في الشريط العلوي للموقع وهو الزر الثالث الذي يلي زر قائمة الرسائل</li>	
<li>اضغط على تبويب "فريق جديد" وأكمل ملء البيانات الآتية</li>
<li>اسم الفريق: اكتب اسم الفريق الذي تريد إضافته</li>
<li>موقع الفريق الإلكتروني أو المدونة ( اختياري)</li>
<li>اكتب البريد الإلكتروني الخاص بالفريق</li>
<li>رابط صفحة الفريق على الفيسبوك (اختياري)</li>
<li> رابط صفحة الفريق على تويتر</li>
<li>shorte.st api token (اختياري) : هو رمز يستخدم للكسب المادي من الفصول يمكن الحصول عليه من خلال إنشاء حساب في موقع shorte.st ويتواجد الرمز في قسم الأدوات</li>
<li>اكتب وصف موجز للفريق</li>
<li>قم باختيار ورفع صورة للفريق</li>
<li>اضغط على زر "إضافة" وانتظر حتى نراجع طلبك ونقوم بالموافقة عليه</li>
</ol>

</div>






</main>
<%- include footer %>
<%- include scripts %>
 
</body>

</html>
