<!DOCTYPE html>
<html lang="ar">

<head>
<title>الرئيسية</title>
<%- include styles %>
</head>


<body class="light-blue-skin">
<%- include header %>
<main class="content container-fluid mt-10">
<div  class="row">




<!-- body -->
<div class="body rtl text-right">

<div class="PrivacyPage" style="font-size: 13px;color:gray;padding:20px">
<h3>سياسة الخصوصية</h3>
<p>
نحن في MYmanga ملتزمون بتأمين خصوصيتك حين تزور موقعنا أو تستخدم خدمتنا أو عند التواصل معنا الكترونياً، فهذه الصفحة “سياسة الخصوصية” تصف كيفية تعامل mymanga مع المعلومات والبيانات الشخصية عنك التي تزودنا بها مثل: الأسم، أو العنوان، أو البريد الالكتروني، وغيرها، أو تلك التي نجمعها نحن عنك خلال تواجدك على MYmanga، فنرجو منك قراءة سياسة الخصوصية قبل أن تستعمل أو تستمر في استعمال موقع mymanga.
</p>
<h4>ماهي المعلومات التي يجمعها الموقع؟</h4>
<p>
– المعلومات الشخصية عندما تشترك بالموقع، كالإسم والبريد الإلكتروني. <br>
– عندما تقوم بالتسجيل بالموقع، فإننا نسألك عن بريدك الالكتروني ومعلومات أخرى كإسمك، ومعلومات أخرى قد تكون إختيارية، يستقبل الموقع البيانات والمعلومات من خادمات الحاسوب التي تستعملها، وتشمل هذه المعلومات تسجيلات الحركة على الخادم، كنوع المتصفح الذي تستعمله، وعنوان جهاز الحاسوب. <br>
– عندما تستعمل الموقع، فإن خادمات الحاسوب في mymanga تسجل تلقائياً المعلومات التي تستقبلها من متصفح الانترنت الذي تستعمله. هذه المعلومات التي نسجلها تشمل الصفحات التي تطلبها على مواقع mymanga، عنوان برتوكول الانترنت، نوع المتصفح، ونوع نظام التشغيل، والصفحات التي شاهدتها، والمدة التي تستغرقها على كل صفحة، ومعلومات التاريخ والوقت، وملفات التسجيل” logs ” (تخزّن لمدة أقصاها 6 أشهر) وغيرها من المعلومات المشابهة. <br>
– معلومات تعريف الإرتباط ” cookies ” وهي عبارة عن بيانات بسيطة تشمل على محددات ترسل الى متصفحك وتخزن على قرص التخزين. يستعمل الموقع معلومات تعريف الإرتباط هذه لأغراض حفظ تفضيلاتك والدخول الفوري إلى حسابك في mymanga (يتم ازالتها عند تسجيل خروج المستخدم من الموقع)، وبإمكانك رفضها؛ غير أننا لن نكون قادرين عندئذ من توفير خدمة mymanga بشكل كامل لك. <br>
</p>
<h4>ماهي الطريقة التي يستعمل بها mymanga المعلومات؟</h4>
<p>
– بشكل عام أي معلومات شخصية، تقوم بالكشف عنها على الانترنت تصبح معلومات عامة متوفرة وقابلة للرؤية من قبل الآخرين، أسم المستخدم سوف يظهر للمستخدمين الآخرين عندما تقوم برفع أي محتوى من قبلك على سبيل المثال لا الحصر (ترجمات، تعليقاتك … ) فأي محتوى تقوم بإرساله ورفعه قد يتم إعادة نشره على الانترنت والقنوات الاعلامية الأخرى، وتصبح مرئية لجميع الناس. <br>
– تستعمل المعلومات للأغراض العامة التالية: تقديم الخدمة الأساسية للموقع، التعرف والتوثيق، تطوير الخدمات المقدمة، الاتصال، الابحاث، واصدار التقارير الادارية دون تحديد هوية المستخدمين. <br>
– نستعمل المعلومات في تطوير جودة وسهولة استعمال الخدمة، وإضافة الخدمات الجديدة، والترويج لها، وتطوير الاداء الوظيفي للمواقع. <br>
– لا نستعمل البريد الالكتروني التابع لك أو أية معلومات شخصية لإرسال مراسلات تجارية أو تسويقية دون الموافقة المسبقة. إلا أننا قد نرسل لك مراسلات عن خدمة الموقع عندما نرى ضرورة اعلامكم. <br>
– كل الفصول المرفوعة في الموقع حقوقها محفوظة لأصحابها. <br>
– يحق للإدارة رفع الفصول حتى إذا لم يقبل الفريق/المترجم بذلك إلّا إذا كان الفريق/المترجم لديه حقوق حصرية لترجمة السلسلة. <br>
– يحق للإدارة التعديل على الفصول بما تراه مناسب لتعديل/حذف لقطات غير مناسبة. <br>
</p>
<h4>ضمان سياسة الخصوصية</h4>
<p>
– لا يضمن الموقع أداءً خالٍ من الأخطاء ضمن سياسة الخصوصية هذه. سوف نبذل قصارى جهدنا لتقيد بسياسة الخصوصية، وسنقوم بأخذ التدابير التصحيحية في حال حصول إخلال في التقيد بسياسة الخصوصية حالما نعلم بها. لن يكون الموقع مسؤولا عن أية أضرار، شاملاً ذلك الاضرار عرضية وغيرها من الاضرار فيما يتعلق بسياسة الخصوصية. <br>
– أن سياسة الخصوصية وثيقة تتغير من وقت إلى آخر. سوف نقوم بتغيير سياسة الخصوصية عندما نضيف خدمات جديدة على الموقع، يحتفظ الموقع بحق تغيير وتعديل وثيقة سياسة الخصوصية في أي وقت، إذا كانت التغييرات الحاصلة على سياسة الخصوصية جذرية، فإننا سوف نقوم بإعلامكم بهذه التغييرات على صفحات الموقع واماكن أخرى نراها مناسبة لاعلامكم بذلك. <br>
</p>
* يسعدنا تواصلك بنا من خلال نموذج اتصل بنا ؛ لأي استفسارات أخرى. <br>
* سياسة الخصوصية هذه تُحدّث بشكل دوري وحسب الحاجة، فأحرص على مراجعتها والإلتزام بها، تاريح آحر تحديث 11 / 2 / 2019 .
</div>


</div>
<!-- /body -->




</main>
<%- include footer %>
<%- include scripts %>
 
</body>

</html>
