<div class="col-md-2 w_100_px  d-none  d-xl-block">
    <div class="d-block mx-auto sticky"><img src="https://s-media-cache-ak0.pinimg.com/originals/ed/e4/73/ede47377f577163fda0cc6d5ab5e2882.jpg"></div>
 </div>