S<!DOCTYPE html>
<html lang="ar">

<head>
<title>الرئيسية</title>
<%- include styles %>
</head>


<body class="light-blue-skin">
<%- include header %>
<main class="content container-fluid mt-10 rtl text-right">

<div class="TermsPage" style="padding: 20px;font-size: 13px;color:gray">
<h3 class="mb-3">القوانين</h3>
<h4>1 - الرفع:</h4>
<p>
1-1: عدم رفع الفصول التي تحتوي مواد غير ملائمة للمشاهدة: "التعرّي واللقطات المخلّة أو الإباحية". <br>
2-1: إذا لم تكن مترجم الفصل، لا تدرج صفحة خاصة بك بها اسمك احترامًا لخصوصية الفريق/المترجم. <br>
3-1: عدم حذف أي صفحة أثناء رفع الفصل ولا سيما صفحة العاملين احترامًا لخصوصية ومجهود الفريق/المترجم. <br>
4-1: يمنع منعًا باتًا تغيير صفحة العاملين وتزوير المترجم أو أخذ مجهود فريق/مترجم آخر. <br>
5-1: عدم إرفاق أو رفع ملفات تحتوي على فيروسات أو ملفات ضارة. <br>
</p>
<h4>2 - التواصل والتعليق:</h4>
<p>
1-2: اعتماد اللغة العربية كلغة موحدة للتواصل مع الأعضاء الآخرين أو الإدارة. <br>
2-2: عدم السب والشتم والتجريح عند التواصل مع الأعضاء الآخرين واعتماد اللباقة في الحديث. <br>
3-2: عدم انتحال شخصية أخرى "مترجم، فريق، إدارة" عند التحدث مع الأعضاء. <br>
4-2: يمنع منعًا باتًا نشر مواد غير متعلقة بالموضوع أو السلسلة المعنية بالأمر، كروابط ربحية أو تضليلية. <br>
5-2: تجنب الفتن عند النقاش لا سيما الدينية والسياسية منها والتقيد بموضوع النقاش. <br>
6-2: يجب أن يكون النقاش هادف ويخلو من التجريح واللغو والخروج عن الموضوع. <br>
7-2: تجنب الحرق تمامًا عند النقاش في مجريات فصل أو سلسلة ما. <br>
</p>
 <h4>3 - المراسلة:</h4>
<p>
1-3: عدم السب والشتم والتجريح عند التواصل مع الأعضاء الآخرين واعتماد اللباقة في الحديث. <br>
2-3: يمنع منعًا باتًا إرسال برسائل السبام سواء للأعضاء الآخرين أو الإدارة. <br>
</p>
</div>




</main>
<%- include footer %>
<%- include scripts %>
 
</body>

</html>
